<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script defer src="/javascripts/script.js"></script>
</head>

<body>
  <h1>
    Text Here:
  </h1>
  <p id=speech></p>

  <button>Listen</button>

</body>

</html>